img.img-thumbnail{
  height:100px;
  min-width:100px !important;
  margin-bottom:2px;
}

.nv-file-over{
  border:dotted 3px red;
}

input[type=file]{
  color: transparent;
}

.contenedor{
  display:grid;
}

.contenedor-imagenes{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap:2em;
}

.contenedor-imagenes-botonera{
  display:flex;
  justify-content:space-around;
}
